body {
  margin: 0;
  background: #ffffff;
  color: #161616;
  font: normal 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
small {
  font-size: 11px;
}

.screen {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #fff;
}
.screen.sign-in {
  justify-content: center;
  align-items: center;
}
.screen.profile .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-info {
  margin: 32px 0 16px;
  text-align: center;
}
.username {
  font-weight: 500;
  font-size: 12px;
}
.full-name {
  font-weight: 500;
  font-size: 16px;
  margin: 4px 0;
}
.bio {
  font-weight: 500;
  font-size: 11px;
}
.header {
  height: 44px;
  background: #64C7FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.header-title {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}
.header-left,
.header-right {

}
.avatar {
  width: 32px;
  height: 32px;

  border: 1px solid rgba(255, 255, 255, 0.43);
  box-shadow: 0px 1px 2px rgba(0, 111, 174, 0.57);
  border-radius: 50%;
  display: block;
}
.avatar-xl {
  width: 128px;
  height: 128px;
}
.footer {
  padding: 8px;
  background: #E3E3E3;
  display: flex;
}
.input {
  padding: 8px;
  display: block;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  border-radius: 5px;
  flex: 1;
  min-height: 44px;
  margin: 0 8px 0 0;
  font-size: 14px;
}
.input:focus,
.button:focus {
  outline: none;
  border: 1px solid blue;
}
.button {
  background: #64C7FF;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px;
  max-height: 44px;
}
.footer .button {
  align-self: flex-end;
}
.content {
  flex: 1;
  overflow-y: auto;
  padding: 16px 8px;
  background-image: url(https://i.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg);
  background-size: cover;
}

.message {
  min-width: 200px;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
}
.message.me {
  padding: 0 0 0 10%;
}
.message.other {
  padding: 0 10% 0 0;
  flex-direction: row-reverse;
  align-self: flex-start;
}
.message:not(:first-child) {
  margin: 24px 0 0;
}
.message .avatar {
  align-self: flex-end;
  margin: 0 8px 0 0;
}
.message.other .avatar {
  margin: 0 0 0 8px;
}
.message-buble {
  display: flex;
  flex-direction: column;
}
.message-text {
  font-size: 14px;
  color: #323232;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 8px;
  word-break: break-all;
}
.message-meta {
  font-size: 9px;
  font-weight: 700;
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
.message-user {
  color: #242424;
  margin: 0 16px 0 0;
}
.message-time {
  color: #555555;
}
